@model AppExamen.Controllers.Asignaciones

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Asignaciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaAsignacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaAsignacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empleados.NombreCompleto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleados.NombreCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proyectos.NombreProyecto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proyectos.NombreProyecto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Asignacion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
